.default {
  --font-Roboto: "Roboto", sans-serif;
  --containerPadding: 0 6.613756613756613vw;
  --containerMarginTop: 9.920634920634921vw;
  --backgroundContainerPadding: 6.510416666666667vw 9.765625vw;
  --mobileContainerMarginTop: 16vw;
  --mobileContainerPadding: 0 6.4vw;
  --mobileBackgroundContainerPadding: 10.666666666666668vw 6.4vw;
  --borderRadius: 0.6613756613756614vw;
  --mobileBorderRadius: 2.666666666666667vw;
  --padding100: 6.613756613756613vw;
  --margin15: 0.992063492063492vw;
  --margin20: 1.3227513227513228vw;
  --margin30: 1.984126984126984vw;
  --margin70: 4.62962962962963vw;
  --margin100: 6.613756613756613vw;
  --gap70: 4.62962962962963vw;
  --gap20: 1.3227513227513228vw;
  --gap30: 1.984126984126984vw;
  --gap40: 2.6455026455026456vw;
  --gap50: 3.3068783068783065vw;
  --mainbgColor: #12171c;
  --bgColor: #0c1117;
  --font18: 1.1904761904761905vw;
  --font24: 1.5873015873015872vw;
  --font28: 1.8518518518518516vw;
  --lineHeight18: 1.6666666666666667vw;
  --lineHeight24: 2.2222222222222223vw;
  --lineHeight28: 2.169973544973545vw;
  --letterSpace18: 0.023809523809523808vw;
  --letterSpace24: 0.015873015873015872vw;
  --letterSpace28: 0.03703703703703704vw;
  --mfont16: 4.266666666666667vw;
  --mlineHeight16: 5.973333333333334vw;
  --mletterSpace16: 0.08533333333333333vw;

  --mfont12: 3.2vw;
  --mlineHeight12: 4.4799999999999995vw;
  --mletterSpace12: 0.4266666666666667vw;
  --mfont14: 3.733333333333334vw;
  --mlineHeight14: 5.226666666666667vw;
  --mletterSpace14: 0.4266666666666667vw;

  --mfont18: 4.8vw;
  --mlineHeight18: 5.624vw;
  --mletterSpace18: 0.4266666666666667vw;
}

.skillsMainContainer {
  background-color: #12171c;
  padding: var(--mobileContainerPadding);
  padding-top: 9.920634920634921vw;
  padding-bottom: 9.920634920634921vw;
}

.skillsContainer {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  margin-top: 4.62962962962963vw;
}

.skillCircle {
  width: 26.455026455026452vw;
  height: 26.455026455026452vw;
  line-height: 26.455026455026452vw;
  border-radius: 50%;
  background-image: radial-gradient(
    circle farthest-corner at 50% 50%,
    #0f0c25,
    #000
  );
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-size: 2.75em;
  font-weight: bold;
  /* color: white; */
  transition: 0.24s 0.2s;
}

.skillsText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3227513227513228vw;
  width: 87.5%;
  text-wrap: pretty;
}

.mobileSkillsText {
  display: none;
}

.skillsIcon {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 3.3068783068783065vw;
  left: 3.3068783068783065vw;
  border: 9.920634920634921vw solid transparent;
  cursor: default;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 1.4s 0.07s;
  z-index: -1;
}

.skillsContainer.hovered .skillsIcon li {
  transition: all 0.7s;
  z-index: 1;
  transform: scale(1.1); /* Adjust scale factor if needed */
}

.inView .skillsIcon {
  transition: all 0.7s;
  z-index: 1;
  transform: scale(1);
}

.skillsIcon li {
  transition: all 0.7s;
}

.skillsIcon li .fab {
  width: 3.6375661375661372vw;
  height: 3.6375661375661372vw;
  line-height: 2.976190476190476vw;
  border-radius: 50%;
  border: 0.06613756613756613vw solid #172554;
  position: absolute;
  font-size: 59%;
  color: white;
  transition: 0.7s;
  margin: 9.920634920634921vw;
  padding: 0.6613756613756614vw;
}

/* Spread out the icons 70% more when hovering */
.inView .skillsIcon li:nth-child(1) {
  transition-delay: 0.02s;
  transform: rotate(85deg);
}
.inView .skillsIcon li:nth-child(1) .fab {
  background: #e34f26;
  transition-delay: 0.04s;
  transform: rotate(680deg);
}
.inView .skillsIcon li:nth-child(2) {
  transition-delay: 0.06s;
  transform: rotate(120deg);
}
.inView .skillsIcon li:nth-child(2) .fab {
  background: #007396;
  transition-delay: 0.12s;
  transform: rotate(590deg);
}
.inView .skillsIcon li:nth-child(3) {
  transition-delay: 0.1s;
  transform: rotate(155deg);
}
.inView .skillsIcon li:nth-child(3) .fab {
  background: #f7df1e;
  transition-delay: 0.2s;
  transform: rotate(560deg);
}
.inView .skillsIcon li:nth-child(4) {
  transition-delay: 0.14s;
  transform: rotate(195deg);
}
.inView .skillsIcon li:nth-child(4) .fab {
  background: #254bdd;
  transition-delay: 0.28s;
  transform: rotate(530deg);
}
.inView .skillsIcon li:nth-child(5) {
  transition-delay: 0.18s;
  transform: rotate(230deg);
}
.inView .skillsIcon li:nth-child(5) .fab {
  background: #7952b3;
  transition-delay: 0.36s;
  transform: rotate(500deg);
}
.inView .skillsIcon li:nth-child(6) {
  transition-delay: 0.22s;
  transform: rotate(265deg);
}
.inView .skillsIcon li:nth-child(6) .fab {
  background: #003b57;
  transition-delay: 0.44s;
  transform: rotate(470deg);
}
.inView .skillsIcon li:nth-child(7) {
  transition-delay: 0.26s;
  transform: rotate(300deg);
}
.inView .skillsIcon li:nth-child(7) .fab {
  background: #61dafb;
  transition-delay: 0.52s;
  transform: rotate(440deg);
}
.inView .skillsIcon li:nth-child(8) {
  transition-delay: 0.3s;
  transform: rotate(335deg);
}
.inView .skillsIcon li:nth-child(8) .fab {
  background: #dd1b16;
  transition-delay: 0.6s;
  transform: rotate(410deg);
}
.inView .skillsIcon li:nth-child(9) {
  transition-delay: 0.34s;
  transform: rotate(370deg);
}
.inView .skillsIcon li:nth-child(9) .fab {
  background: #68a063;
  transition-delay: 0.68s;
  transform: rotate(380deg);
}
.inView .skillsIcon li:nth-child(10) {
  transition-delay: 0.38s;
  transform: rotate(410deg);
}
.inView .skillsIcon li:nth-child(10) .fab {
  background: #306998;
  transition-delay: 0.76s;
  transform: rotate(360deg);
}

@media only screen and (max-width: 767px) {
  .skillsMainContainer {
    padding: var(--mobileContainerPadding);
    overflow: hidden;
    margin: 0;
    padding-top: 16vw;
    padding-bottom: 16vw;
  }

  .skillsContainer {
    margin: 0;
    height: 60vh;
    margin-top: 8vw;
  }

  .skillCircle {
    width: 58.666666666666664vw;
    height: 58.666666666666664vw;
    background-image: radial-gradient(
      circle farthest-corner at 50% 50%,
      #0f0c25,
      #000
    );
  }

  .skillsText {
    font-size: 4.8vw;
    font-size: 2.2vw;
    width: 87.5%;
    padding: 2vw;
  }

  .mobileSkillsText {
    display: flex;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  .skillsIcon {
    top: 20vw;
    left: 20vw;
    line-height: normals;
  }

  .skillsIcon li .fab {
    margin: 21.333333333333336vw;
    width: 10.666666666666668vw;
    height: 10.666666666666668vw;
    padding: 1.3333333333333335vw !important;
    text-align: center;
  }
}
