.container {
  display: none;
}

@media only screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: calc(21.333333333333336vw + 24.666666666666668vw);
    height: 60vh;
    text-align: center;
  }

  .heading {
    font-size: 13vw;
    letter-spacing: 0;
    line-height: normal;
    font-weight: 800;
  }

  .description {
    margin: 5.333333333333334vw 0;
    font-size: 5.5vw;
    line-height: normal;
    width: 87.5vw;
    font-weight: 400;
    letter-spacing: 0.026455026455026457vw;
    text-transform: math-auto;
  }

  .name {
    font-size: 14vw;
    letter-spacing: 0;
    line-height: normal;
    font-weight: 800;
  }
}
